## Admin credentials
ADMIN_NAME="Koel Admin"
ADMIN_EMAIL=admin@koel.com
ADMIN_PASSWORD=1234

## DB access configuration
# DB username, must be the same configured in 'mysql-config.env'
DB_USERNAME=koel
# DB password, must be the same configured in 'mysql-config.env'
DB_PASSWORD=koel

## Connection settings
# Address to access koel with
APP_URL=https://192.168.56.105
# Force HTTPS
FORCE_HTTPS=true

## JWT Secret
JWT_SECRET="--ThisIsASecret--ThisIsASecret--"

## Koel application logging
LOG_CHANNEL="stderr"

## Enable x-sendfile
STREAMING_METHOD="x-sendfile"
