Options +FollowSymLinks
RewriteEngine On

# Apparently Apache thinks nuking the Authorization is ok. This forces it not
# to. Without this JWT authentication doesn't work.
# https://github.com/tymondesigns/jwt-auth/issues/81
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

php_value max_execution_time 300
php_value upload_max_filesize 800M
php_value post_max_size 800M
php_value memory_limit 768M
